.heroimage{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/hero.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.about{
    height: 50vh;
    width: 100vw;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container1{
    background-color: rgba(0, 0, 0, 0.856);
    width:100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}


.container2{
    height: 50vh;
    width: 100vw;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

.container3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}

.item-a{
    grid-column: 1 / 2;
}

.item-b{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.item-c{
    grid-column: 3 / 4;
    grid-row: 1 / 2
}

.item-d{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-e{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.item-f{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.item-g{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.item-h{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}