.heroimage{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("img/hero.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.about{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(240, 240, 240);
    margin-block-start: 0;
    margin-block-end: 0;
}

.container1{
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Icons wrap at 830px */

@media (max-width: 830px){
    .container1{
        flex-wrap: wrap;
    }
}

.column{
    display: flex;
    align-items:center;
    justify-content: center;
}

.icontext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 20px;
}

h2{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 25px;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 50px;
    padding-right: 50px;
}


.container2{
    background-color: rgb(240, 240, 240);
    padding-top: 100px;
    padding-bottom: 100px;
}

/*Grid Section*/


img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.container3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    background-color: rgb(240, 240, 240);
}

.item-a{
    grid-column: 1 / 2;
}

.item-b{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.item-c{
    grid-column: 3 / 4;
    grid-row: 1 / 2
}

.item-d{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-e{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.item-f{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.item-g{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247) ;
}

h3{
    font-size: 30px;
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.item-h{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

.container4{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.gc{
    color: white;
    margin-bottom: 1.5em;
}

/* Blog Section */

.blog{
    padding-top: 100px;
    background-color: rgb(240, 240, 240);
}

.column-image-a{
    height: 200px;
    background: url(img/living.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.demobox{
    background-color: rgb(59, 59, 59);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

h5{
    color: white;
    font-size: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-block-start: 0px;
    margin-block-end: 0px;

}

.column-image-b{
    height: 200px;
    background: url(img/dining.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

/* At 830px image centers to feature table */

@media (max-width: 830px){
    .column-image-b{
        background-position: center;
    }
}

.column-image-c{
    height: 200px;
    background: url(img/lounging.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}


h4{
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.text-container{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: fit-content;
}

.date{
    margin-bottom: 1.5em;
    text-align: left;
    font-size: 15px;
    padding-right: 0px;
    padding-left: 0px;
}

.blog-text{
    margin-top: 1.5em;
    text-align: left;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items:baseline;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
}

/* At 830px blogs display as columns*/

@media (max-width: 830px){
    .row{
        flex-direction: column;
    }
}

.column-left{
    float: left;
    width: 33.3%;
    text-align: left;
}

/* At 830px each blog entry changes to full width */

@media (max-width: 830px){
    .column-left{
        width: 100%;
        padding-bottom: 50px;
    }
}

.column-middle{
    margin-left: 25px;
    margin-right: 25px;
    width: 33.3%;
    text-align: left;
}

/* At 830px each blog entry changes to full width */

@media (max-width: 830px){
    .column-middle{
        width: 100%;
        padding-bottom: 50px;
        margin: 0px;
    }
}

.column-right{
    width: 33.3%;
    text-align: left;
}

/* At 830px each blog entry changes to full width */

@media (max-width: 830px){
    .column-right{
        width: 100%;
        padding-bottom: 50px;
    }
}

/* Form Section */

.form-section{
    background-color: rgb(240, 240, 240);
    display: flex;
    padding-bottom: 100px;
}

/* On screens that are 830px wide or less, divs go from next to each other to below each other */

@media (max-width: 830px){
    .form-section{
        display: flex;
        flex-wrap:wrap;
    }
}

#contact-info{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    width: 40%;
}

/* On screens that are 830px wide or less, divs go from next to each other to below each other */

@media (max-width: 830px){
    #contact-info{
        width: 100vw;
        padding-bottom: 50px;
    }
}

h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(39, 38, 38);
    margin-left: 50px;
    margin-block-end: 20px;
    margin-block-start: 0px;
}

.contact{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-right: 30px;
}

#form{
    float: right;
    width: 60%;
    padding-right: 50px;
    padding-left: 30px;
}

/* On screens that are 830px wide or less, divs go from next to each other to below each other */

@media (max-width: 830px){
    #form{
        width: 100vw;
    }
}


#row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.inputforms{
    background-color: white;
    width: 45%;
    height: 40px;
    font-size: 15px;
    border: none;
    text-indent: 15px;
}

#row2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.textform1{
    background-color: white;
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    text-indent: 15px;
    margin-top: 40px;
}

.textform2{
    background-color: white;
    width: 100%;
    height:200px;
    font-size: 15px;
    border: none;
    text-indent: 15px;
    margin-top: 40px;
}

#formbutton{
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 12px;
    margin-block-start: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

/* Footer */

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#aboutblock{
    width: 40%;
}

/* At 700px width changes to full viewport */

@media (max-width: 700px){
    #aboutblock{
        width: 100vw
    }
}
.about1{
    font-size: 15px;
    text-align: left;
    color: white;
}